body {
  color: black;
}

p {
  color: blueviolet;
  text-indent: 24px;
}

div {
  background-color: salmon;
}

.bold {
  font-weight: bold;
  color: mediumaquamarine;
}

.italics {
  font-style: italic;
  color: slategray;
}

#site-title {
  font-size: 48px;
  color: firebrick;
}

.white-text {
  color: snow;
}

.italics.bold {
  background-color: lime;
}

div.bold {
  font-size: 24px;
}

#special-div p {
  font-family: cursive;
}

div p {

}
